html {
    font-size: 62.5%; /**reset para REMS -62.5% = 10px de 16px **/
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }


body {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    line-height: 1.8rem;
    
}



/**Globales**/

img {
    max-width: 100%;
}

.contenedor {
    max-width: 87rem; /** =870px; **/
    margin: 0 auto;

}

h1 {
    font size: 3.8 rem;
}
h2 {
    font size: 3.4 rem;
}
h3 {
    font size: 3 rem;
}
h4 {
    font size: 2.5 rem;

}

/**utilidades**/

.section {
    margin-top: 2 rem;
    margin-bottom: 2rem;
}

.fw-300 {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}

.contenido-centrado {
    max-width: 800;
}

/**botones**/

.d-block{
    display: block!important;

}

.boton {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;

}

.boton:hover {
    cursor: pointer;
}

.boton-amarillo{
    background-color: #e08709;
    

}
.boton-verde{
    background-color: #71b100;

}


/* Header */

.site-header{

    background-color: #333333;
    padding: 1rem 0 3rem 0;;

}

.site-header.inicio {
    background: url(../img/header.jpg) ;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

/**Contenido Header**/

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {

    color: white;
    padding-bottom: 1.8rem;
    max-width: 60rem;
    line-height: 4rem;
    

}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;

}

/**Navegacion**/

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;


}

.navegacion a:hover {
    color: #71b100
}

.navegacion a:last-of-type {
    margin: 0
}
/**
.contenedor-footer {
    display: flex;
    justify-content: space-between;
}

**/
/**iconos nostros**/



.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}

.icono {
    flex-basis: calc(50% - 1rem);
    text-align:center;
}

.icono h3 {
    text-transform: uppercase;
}

/**Anuncios**/

.contenedor-anuncios {
   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

.anuncio {
    flex: 0 0 calc(33.3% - 1rem);
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
}

.contenido-anuncio {
    padding: 2rem ;
}

.contenido-anuncio h3,
.contenido-anuncio {
    margin:0
}

.precio {
    color: #71b100;
    font-weight: 600;
}

.iconos-caracteristicas {

    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    flex: 1;
}

.iconos-caracteristicas li {
    /**flex: 1;**/
    display: flex;
}

.ver-todas {

    display: flex;
    justify-content: flex-end;
}

/** Contacto Home**/

.imagen-contacto {
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 30rem;
    display: flex;
    align-items: center;

}

.contenido-contacto {
    flex: 1;
    color: white
}

.contenido-contacto p {
    font-size: 1.5rem;
}

/** Seccion inferior **/

.seccion-inferior {
    display: flex;
    justify-content: space-between ;
}

.seccion-inferior .blog {
    flex-basis: 50%;
}

.seccion-inferior .testimoniales {
    flex-basis: calc(40% - 2.5rem);

}

.entrada-blog{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

}

.entrada-blog:last-of-type {
    margin-bottom: 0;
}

.entrada-blog .imagen {
    flex-basis: 40%;
}


.entrada-blog .texto-entrada {
    flex-basis: calc(60% - 3rem);

}

.texto-entrada a{
    color: black;
    text-decoration: none;
}

.texto-entrada h4 {
    margin: 0;
    line-height: 1.4;
}

.texto-entrada h4::after {
    content: "";
    display: block;
    width: 13rem;
    height: .3rem;
    background-color: #71b100;
    margin-top: .7rem;

}

.texto-entrada span {
    color: #e08709
}

/** Testimoniales**/

.testimonial {

    background-color: #71b100;
    font-size: 2.4rem;
    padding: 2rem;
    color: #ffffff;
    border-radius: 2rem;

}

.testimonial p {
    text-align: right;

}

.testimonial blockquote::before {
    content: "";
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem;
}

.testimonial blockquote {

    position: relative;
    padding-left: 5rem;

}

/** Footer **/
.site-footer {
    background-color: #333333;
    margin: 0;
}
.contenedor-footer {
    padding: 3rem 0;
    text-align: center;
}

/** Codigo CSS para paginas externas**/
/** Nosotros**/

.contenido-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
}

.texto-nosotros blockquote{
    font-weight: 900;
    font-size: 2rem;
    margin: 0%;
    padding: 1rem 0 3rem 0;
}

.resumen-propiedad {
    display: flex;
    justify-content: space-between;

}

/** Contacto **/
.contacto p {
    font-size: 1rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}



legend {
    font-size: 2rem;
    color: #4f4f4f;
}

label {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
}

input:not([type="submit"]),
textarea,
select{
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}

input[type="radio"] {

    width: auto;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

textarea {
 height: 20rem;
}

.forma-contacto {
    max-width: 600px;
    display: flex;
    justify-content: space-between;

}